* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.index-container {
  display: flex;
  flex-direction: column;
}

.hero-home {
  min-height: 90vh;
//   max-width: 1500px;
  background-position: center;
  background-size: cover;
  opacity: 0.8 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  color: rgba(219, 254, 135, 1);
}

.bottom {
    position: absolute;
    bottom: 10px;

}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons");
@import "~react-md/src/scss/react-md";
@import "theme.scss";

@include react-md-everything;
