* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.index-container {
  display: flex;
  flex-direction: column;
}

.hero-home {
  min-height: 90vh;
//   max-width: 1500px;
  background-position: center;
  background-size: cover;
  opacity: 0.8 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  color: rgba(219, 254, 135, 1);
}

.bottom {
    position: absolute;
    bottom: 10px;

}
#contact-form {
  padding: 20px;
}
/* Contact */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons");
@import "~react-md/src/scss/react-md";
@import "theme.scss";

@include react-md-everything;
