@import '~react-md/src/scss/react-md';
$md-primary-color: #9C27B0;
$md-secondary-color: #CE93D8;
$md-tertiary-color: rgba(219, 254, 135, 1);

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
